@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* transition: all .75s, transform 0.75s ease-in-out; */

    scroll-behavior: smooth;
}

*:hover {
    transition: all .75s, transform 0.75s ease-in-out;
}

:root {
    --color-transparent: transparent;
    --color-background: #e9e9e9;
    --color-backgroundT: #e9e9e985;
    --color-principal: #0099cc;
    --color-principalT: #0099cc85;
    --color-secundario: #2d314d;
    --color-secundarioT: #2d314d85;
    --color-black: rgba(0, 0, 0, 0.5);


    scroll-behavior: smooth;
}

html {
    margin: 0 auto;
}

/* SCROLL HTML */
html::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-background);
}

html::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    height: 30px;
    background-color: var(--color-secundario);
}


body {
    background-color: var(--color-background);
    font-family: "Poppins", sans-serif;
    color: var(--color-principal);
    margin: 0 auto;
    border: none;

    overflow-x: hidden;
}

/* ---------------------------------------------------------------------- */
/* HEADER */
.header {
    background-color: var(--color-background);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 1.8%;
    width: 100%;
    height: 7.5vh;

    z-index: 10000;
}

.header a {
    text-decoration: none;
    color: var(--color-secundario);
}

.header a:hover {
    color: var(--color-principal);
}

.logo-header {
    font-size: 1.9rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    height: inherit;
}

.logo {
    width: 5vh;
    height: 5vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    height: inherit;
    width: 50%;
}

.menu__lista {
    font-size: 1.8rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5rem;

    padding: 5%;

    height: inherit;
    width: 100%;
}

.menu__item {
    width: calc(100%/5 - 10px);
    text-align: center;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
}

.menu__item button {
    color: var(--color-background);
    background-image: linear-gradient(to right, var(--color-secundario), var(--color-principal));
    background-size: 100% 200px;
    background-position: 0% 100%;
    transition: background-position 0.5s;
    border-color: var(--color-transparent);
    transform: scale(1.2);
    cursor: pointer;

    font-size: 0.7rem;
    border-radius: 50px;
    padding: 2%;

    width: 5vw;
    height: 3.5vh;
}

.menu__item button:hover {
    background-position: 0% 0%;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/* ---------------------------------------------------------------------- */
/* MAIN */
.container {
    width: 100%;
    height: 100vh;
}

.main-principal {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
}

.main {
    position: relative;
    top: 7.5vh;
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: calc(100vh - 7.5vh);

    position: relative;
    top: 7.5vh;
}

.title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;

    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    color: var(--color-secundario);
    font-size: 3rem;
    text-decoration: underline;
    text-transform: uppercase;
    /* line-height: 0; */
}

/* ---------------------------------------------------------------------- */
/* HOME */
.section-container aside {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Aside imagen */
.image-space {
    /* border: solid red; */
}

.img-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 100%;

    object-fit: cover;
}

/* Aside texto */
.presentation-container {
    /* border: solid blue; */
}

.presentation {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pres-box {
    width: 100%;
    height: 100%;

    display: inherit;
    align-items: center;
    justify-content: end;
    flex-direction: column;


    color: var(--color-secundario);
    text-align: center;
}

.pres-title {
    font-size: 3.9rem;
    font-weight: 700;

    line-height: 0;
}

.pres-subtitle {
    font-size: 2.8rem;
    font-weight: 500;
}

.desc-box {
    /* border: solid red; */
    justify-content: start;

    padding-top: 3rem;
}

.description {
    font-size: 1.7rem;
    font-weight: 500;
    text-wrap: balance;
    color: var(--color-principal);
}

/* Posición de elementos------------------------ */
.pres-title,
.pres-subtitle,
p.description {
    position: relative;
    top: 35%;
    right: 15%;

    text-shadow: var(--color-background) 3px 4px;

    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    z-index: 10;
}

.decoration {
    position: relative;
    left: 15%;
}

/* ---------------------------------------------------------------------- */
/* POYECTOS */

/* ---------------------------------------------------------------------- */
/* ABOUT ME */
.main-aboutme {
    flex-direction: column;
}

.aboutme-title {}

.aboutme-container {
    align-items: end;
    top: 0;
}

.aboutme-container aside {
    width: 100%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Aside foto */
.aboutme-photo {
    /* border: solid; */
}

.aboutme-photo img {
    width: 40%;
    object-fit: scale-down;
}

/* Aside información */
.aboutme-info {
    flex-direction: column;
}

.aboutme-pres,
.aboutme-data {
    width: 100%;
    height: 50%;
}

.aboutme-pres {
    padding: 2%;
}

.aboutme-info-title,
.aboutme-info-des {
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-wrap: balance;
}

.aboutme-info-title {
    color: var(--color-secundario);
    font-size: 3rem;
    font-weight: 700;

    padding: 1%;

    align-items: end;
    justify-content: start;
}

.aboutme-info-title span {
    color: var(--color-principal);
    padding-left: 1rem;
}

.aboutme-info-des {
    align-items: start;

    color: var(--color-secundario);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;

    padding: 1%;
    padding-left: 2%;

    align-items: start;
    justify-content: start;
}

.aboutme-separator {
    width: 85%;
}

/* --------------------------------- */
.aboutme-data {
    /* border: solid red; */
}

.data-personal,
.techs {
    width: 100%;
    height: 100%;

    position: relative;
    left: 0;
    top: 0;
}

/* Sección data personal */
.data-personal {
    /* visibility: hidden; */
}

.info-list {
    width: 100%;
    height: 75%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-left: 4%;

    font-size: 1.6rem;
    list-style: none;

    gap: 10%;
}

.info-item {
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: start;
}

.info-item label {
    width: 7em;

    color: var(--color-secundario);
}

.info-item img {
    height: 2.1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.info-button {
    width: -moz-fit-content;
    width: fit-content;
}

.download-button {
    width: 16rem;
    height: 4rem;

    background-image: linear-gradient(to right, var(--color-secundario), var(--color-principal));
    background-size: 100% 200px;
    background-position: 0% 100%;
    transition: background-position 0.5s;
    border-color: var(--color-transparent);

    color: var(--color-background);
    font-weight: 700;

    position: relative;
    left: 7.5rem;

    border-radius: 50px;
}

/* Sección tech */
.techs {
    display: flex;
    align-items: end;
    justify-content: center;
    top: -100%;

    background-color: var(--color-background);

}

.techs-title {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;

    color: var(--color-secundario);
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: underline;
}

.techs-container {
    width: 100%;
    height: 90%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.techs-container>div {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 7%;
}

.techs-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.techs {
    opacity: 0;
    visibility: hidden;

    left: 50vw;
}

.techs.move {
    opacity: 1;
    visibility: visible;

    left: 0;
}

.right,
.left {
    width: 7vw;
    height: 7vw;

    position: absolute;
    top: 50%;

    transform: translateY(-50%);

    background-color: var(--color-transparent);
    color: var(--color-secundario);
    font-size: 6rem;
    border: none;

    cursor: pointer;
}

.right {
    right: 0;

    opacity: 1;
    visibility: visible;

    transition: opacity 2s ease-in-out;
}

.right.move {
    opacity: 0;
    visibility: hidden;
}


.left {
    left: -10%;

    display: block;
}

.techs {
    transition: all 1.5s;
}

.aboutme-photo>*,
.aboutme-info>*{
    position: relative;
    top: -7.5vh;
}
.aboutme-photo img{
    width: 55%;
}


/* ---------------------------------------------------------------------- */
/* CONTACTO */
.main-contact{
    
}
.contact-container{
    top: 0;
}

.contact-form{
    width: 55%;
    height: 80%;

    position: relative;
    top: 3vh;

    padding: 2.5rem;

    border: solid var(--color-secundario) 0.35rem;
    border-radius: 50px;
}
.contact-form > *{
    width: 100%;
    height: calc(100% / 6);

    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;

    padding: 2rem;
}
.form-group {
    display: flex;
    align-items: start;
    justify-content: center;

    gap: 0.1rem;

    padding: 0 2.5rem 0 2.5rem;
}
.name-fields{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    gap: 2rem;
}
.form-group>label{
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
}
.name-fields>input[type="text"],
.form-group>input[type="text"],
.form-group>input[type="email"],
.form-group>input[type="tel"],
.form-group>textarea {
    width: 100%;
    
    border: solid var(--color-principal) 2px;
    border-radius: 15px;
    font-size: 1rem;

    padding: 0.75rem;
}

.name-fields>input[type="text"]:focus,
.form-group>input[type="text"]:focus,
.form-group>input[type="email"]:focus,
.form-group>input[type="tel"]:focus,
.form-group>textarea:focus {
    border-color: var(--color-secundario);
    outline: none;
}
.contact-form>.form-message{
    height: calc((100% / 6) *2);
}
.form-message>.message{
    height: 80%;
}

button[type="submit"]{
    width: 50%;
    height: 4rem;

    align-items: center;
    justify-content: center;

    position: relative;
    left: 50%;
    top: 2rem;

    transform: translateX(-50%);
}
.contact-form>button {
    background-color: var(--color-principal);
    color: var(--color-background);
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;

    padding: 1rem;

    cursor: pointer;
}

.contact-form>button:hover {
    background-color: var(--color-secundario);
}
/* ---------------------------------------------------------------------- */
/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    height: 25vh;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 80%;
    height: inherit;
}

.footer a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-background);
}

.footer a:hover {
    color: var(--color-principal);
}

.footer-general {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 19vh;
}

.footer .link-logo {
    font-size: 1.9rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer .logo {
    width: 5vh;
    height: 5vh;
}


.footer-menu {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 5rem;

    width: 60%;
    height: inherit;
}

.footer-items {
    list-style-type: none;

    text-align: start;
    width: 100%;
}

.social-media {
    width: 7.5vh;
    height: 7.5vh;

}

.social-media-logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 25%;
    height: auto;
}

.social-logo {
    width: 100%;
    object-fit: cover;
}

.portfolio-copyright {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    text-align: center;
    width: 100%;
}

/* RESPONSIVE */
@media (min-width: 1601px) and (max-width: 1920px) {}

@media (min-width: 1025px) and (max-width: 1600px) {}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 551px) and (max-width: 768px) {}

@media screen and (max-width: 550px) {}