<a href="../index.html" class="link-logo logo-header">
  <img src="../images/logo.png" alt="Portfolio Logo" class="logo">Damián Tripodi
</a>
<button class="abrir-menu" id="abrir"><i class="bi bi-list"></i></button>
<nav class="menu" id="menu">
  <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
  <ul class="menu__lista">
    <li class="menu__item"><a href="../projects.html" class="projects">PROYECTOS</a></li>
    <li class="menu__item"><a href="../about.html" class="about">SOBRE MI</a></li>
    <li class="menu__item"><a href="../contact.html" class="contact">CONTACTO</a></li>
  </ul>
</nav>